<div class="profile-panel @(IsVisible ? "" : "hidden")" id="profile-panel">
    <div class="profile-info">
        <div class="profile-info-header">
            <img src="./images/account_circle_24dp_2D425C_FILL1_wght400_GRAD0_opsz24.svg" alt="Profile icon">

			<Microsoft.AspNetCore.Components.Authorization.AuthorizeView Roles="Admin">
                <p>Admin</p>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView Roles="Mechanic">
                <p>Mechanic</p>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

        </div>
        <button class="closeBtn" @onclick="() => OnClose.InvokeAsync()">
            <img src="./images/close_24dp_2D425C_FILL0_wght400_GRAD0_opsz24.svg" alt="Close icon">
        </button>
    </div>
    <button id="logoutBtn" @onclick="() => OnLogout.InvokeAsync()">Logout</button>

    <p style="
            width: 100%;
            margin-top: 0.5rem;
            text-align: center;
            color: grey;
            font-size: 0.75rem;">
        Designed and Developed by<br/>Daróczi Levente
    </p>
</div>

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback OnLogout { get; set; }
}