/*NavBar*/
#header, .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: var(--primary-light);
    top: 0;
    left: 0;
    z-index: 10;
}

.icons {
    gap: 3rem;
}

#downloadLight, #downloadDark, .theme-switch img {
    transform: scale(1.5);
}

#profileLight, #profileDark {
    transform: scale(2.5);
}

/*Current Panel*/
#panel-toggle {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: var(--primary-blue);
    top: 10%;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    background-color: var(--primary-light);
    padding: 0.8% 0;
    border-radius: 15px;
    font-weight: bold;
    font-size: 10px;
    overflow: hidden;
}

    .current-panel a {
        position: relative;
        flex: 1;
        text-align: center;
        color: var(--main-font-color);
        transition: all 0.3s ease;
    }

    .current-panel::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 50%;
        height: 100%;
        background-color: var(--secondary-blue);
        border-radius: 15px;
        transition: all 0.4s ease-in-out;
    }

    .current-panel.jobs-active::before {
        left: 50%;
    }

    .current-panel a.active-panel {
        color: var(--font-color);
    }

/*PROFILE PANEL*/
.profile-panel {
    position: fixed;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F9FCFF;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 20;
    min-width: 200px;
}

    .profile-panel .profile-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        font-size: 18px;
        font-weight: bold;
        color: black;
    }

.profile-info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.profile-panel .profile-info .closeBtn {
    transform: scale(0.75);
}

.profile-panel img {
    transform: scale(1.5);
}

#logoutBtn {
    background-color: var(--secondary-blue);
    color: var(--font-color);
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.profile-panel.hidden {
    display: none;
}

/*CUSTOMER TABLE*/
.panel-container #customers-section,
.panel-container #jobs-section {
    width: 90%;
    margin: 8% auto 4rem;
    font-family: var(--primary-font-family);
}

p em {
    margin: 8% auto 4rem;
    text-align: center;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

    .table-header div:last-of-type button:first-of-type {
        margin-right: 1.5rem;
    }

    .table-header div:first-of-type input {
        width: 100%;
        min-height: 40px;
        padding: 0 1rem;
        border-radius: 10px;
        border-radius: 10px;
        border: 1px solid grey;
        background-color: white;
        color: grey;
        margin-left: 1rem;
    }

    .table-header div:first-of-type {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table-header img {
        transform: scale(2);
    }

#searchLight, #searchDark {
    transform: scale(1.5);
}

.data-table {
    width: 100%;
    background-color: var(--table-bg-color);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    border-radius: 15px;
    overflow: hidden;
}

    .data-table th,
    .data-table td {
        padding: 1rem 1.2rem;
        text-align: left;
        border-bottom: 1px solid var(--primary-light);
    }

    .data-table th {
        background-color: var(--primary-blue);
        font-weight: bold;
        font-size: 20px;
        color: white;
    }

    .data-table td {
        color: var(--main-font-color);
        font-size: 18px;
    }

    .data-table tr:hover {
        background-color: var(--primary-light);
        transition: all 0.2s ease;
    }

.actions {
    display: flex;
    gap: 1.2rem;
}

    .actions img {
        transform: scale(1.3);
    }

    .actions .anim:hover {
        transform: translateY(-5px) scale(1.3);
    }

.table-header img:hover {
    transform: translateY(-5px) scale(2);
}

/*VIEW CHANGE*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}

.data-card {
    background-color: var(--table-bg-color);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    padding: 1.2rem;
    transition: all 0.2s ease;
}

    .data-card:hover {
        transform: translateY(-3px);
    }

    .data-card h3 {
        color: white;
        background-color: var(--primary-blue);
        border-radius: 10px;
        padding: 1rem 2rem;
        font-size: 20px;
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
    }

    .data-card .card-row {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    /*jobs*/

    .data-card .card-row-header {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

        .data-card .card-row-header div {
            color: white;
            background-color: var(--primary-blue);
            border-radius: 10px;
            padding: 0.5rem 1rem;
            font-size: 20px;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

            .data-card .card-row-header div h3 {
                margin: 0;
                padding: 0.5rem;
            }

    .data-card .card-row p {
        color: var(--main-font-color);
        font-size: 18px;
    }

        .data-card .card-row p:first-of-type {
            font-weight: bold;
        }

    .data-card .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

.hidden {
    display: none !important;
}

/*ADD or EDIT PANEL*/
/* Overlay (add/edit panel) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    backdrop-filter: blur(3px);
}

.overlay-customer {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-customer-panel, .add-job-panel {
    background-color: var(--secondary-light);
    padding: 2rem;
    border-radius: 15px;
    width: 500px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    font-family: var(--primary-font-family);
}

.add-job-panel {
    width: 800px;
}

.add-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

    .add-panel-header h2 {
        color: var(--main-font-color);
    }

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.input-fields-jobs {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 5%;
}

    .input-fields label, .input-fields-jobs label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 5%;
    }

        .input-fields label p, .input-fields-jobs label p {
            color: var(--main-font-color);
        }

        .input-fields label input, .input-fields label select, .input-fields label textarea,
        .input-fields-jobs label input, .input-fields-jobs label select, .input-fields-jobs label textarea {
            margin-left: 1rem;
            background-color: var(--primary-light);
            border: none;
            padding: 0 5%;
            border-radius: 10px;
            width: 100%;
            min-height: 40px;
            color: var(--main-font-color);
            font-size: 15px;
        }

.add-job-right label:first-of-type {
    display: flex;
    align-items: start;
    justify-content: center;
}

.input-fields-jobs label select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'><path fill='gray' d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.table-header div:first-of-type select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'><path fill='gray' d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.1rem center;
    background-size: 25px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 1rem;
    padding: 0.5rem;
}

    .table-header div:first-of-type select option {
        text-align: left;
    }

.input-fields-jobs label textarea {
    min-height: 120px;
    resize: vertical;
    font-size: 1rem;
    padding: 2.5%;
}

    .input-fields label input::placeholder,
    .input-fields-jobs label input::placeholder,
    .input-fields-jobs label textarea::placeholder {
        color: var(--placeholder-color);
    }

.add-panel-buttons {
    display: flex;
    justify-content: flex-end;
}

.save {
    background-color: var(--secondary-blue);
    color: var(--font-color);
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
}

/*JOBS PANEL*/
.panel-container {
    display: flex;
    width: 200%;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease;
}

.panel {
    width: 50%;
    flex-shrink: 0;
}

.panel-container.show-jobs {
    transform: translateX(-50%);
}

.panel-container.show-customers {
    transform: translateX(0);
}

.panel-container.show-jobs, .panel-container.show-customers {
    opacity: 1;
}

/* Buttons */
.closeBtn, .addCustomerBtn,
.theme-switch, .addJobBtn,
.viewSwitch, .jobDetails,
.deleteBtn {
    background-color: transparent;
    border: none;
}
